<ag-grid-angular
  class="ag-theme-alpine data-grid"
  [ngClass]="{'full-screen-grid': domLayout != 'autoHeight'}"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  (cellValueChanged)="onCellValueChanged()"
  [domLayout]="domLayout"
  [frameworkComponents]="frameworkComponents"
  (gridReady)="onGridReady($event)"
>
</ag-grid-angular>
<app-grid-actions
  (employeeAdded)="addEmployee()"
  (importSelected)="importData($event)"
  [currentGridData]="getCurrentRowData()"
>
</app-grid-actions>
<div class="annual-total">
  Annual Cost to Company: {{(annualCostToCompany | currency) || '--'}}
</div>
